<!doctype html>
<html lang="es">

<head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="/bootCss/bootstrap.min.css">

    <!-- main CSS -->
    <link rel="stylesheet" href="/public/css/style.css">
    
    <!-- Titulo de la pagina -->
    <title>{{title}}</title>
</head>

<body>
    <div class="fluid">
        {{{body}}}
    </div>

    <!-- Bootstrap Bundle with Popper -->
    <script src="/bootJs/bootstrap.bundle.min.js"></script>
    <!-- jquery script -->
    <!-- <script src="/jquery/jquery.js"></script> -->
    <!-- axios CDN -->
    <!-- <script src="https://cdn.jsdelivr.net/npm/axios/dist/axios.min.js"></script> -->
    <!-- Main JavaScript -->
    <script src="/public/js/script.js"></script>

</body>

</html>