<!-- NavBar -->
<nav class="navbar navbar-expand-lg navbar-light bg-light">

  <div class="container my-3">

    <a class="navbar-brand" href="#">Las Lolitas</a>

    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent"
      aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav ms-auto mb-2 mb-lg-0 text-center">

        <li class="nav-item me-5 bg-warning">
          <a class="nav-link active" aria-current="page" href="#">Inicio</a>
        </li>

        <li class="nav-item me-5 bg-warning">
          <a class="nav-link" href="#">Nosotros</a>
        </li>

        <li class="nav-item me-5 bg-danger">
          <a class="nav-link" href="#">Menu</a>
        </li>
      </ul>
    </div>

  </div>

</nav>
<!-- NavBar -->

<!-- HeroSection -->
<section class="bg-warning" style="height: 200px;">
</section>
<!-- HeroSection -->

<!-- MenuSection -->
<section class="bg-dark">
  <!-- NavBar -->
  <div class="py-5 text-white text-center">

    <h1 class="text-center text-white mb-5">Menu del dia</h1>
    <p class="mb-5">Platos elaborados con cariño</p>

    <!-- Cards Container -->
    <div class="container">
      <div class="row">
        
        <!-- Card -->
        <div class="col">
          <div class="card" style="width: 18rem;">
            <img src="https://broasteryasadochia.com/wp-content/uploads/2020/03/descarga-3.jpg" class="card-img-top"
              alt="img-polloAsado">
            <div class="card-body">
              <h5 class="card-title">Pescado Frito</h5>
              <p class="card-text">El mas rico y crujiente pezcado frito</p>
              <a href="#" class="btn btn-primary">Go somewhere</a>
            </div>
          </div>
        </div>
        <!-- Card -->

        <div class="col">
          Menu 3
        </div>
      </div>
    </div>
    <!-- Cards Container -->

  </div>

</section>
<!-- MenuSection -->