body {
  margin: 0;
  padding: 0;
  border: 0;
  background: rgb(217,217,217);
}
/* HeroSection */
.hero-section {
  background-color: rgb(142, 23, 216);
  min-height: 85vh;

  display: flex;
  justify-content: center;
  align-items: center;
}

.hero-row{
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.hero-col{
  background-color: rgb(217,217,217);
  height: 350px;
  border-radius: 20px;
}
/* HeroSection*/

.card {
  border: 0;
  margin: 0 auto;
  max-width: 400px;
}

.page-container {
  height: 100vh;
}

span{
  color: brown;
}